{{ if gt site.RegularPages 0}}
{{"<!-- Start Blog Section -->" | safeHTML}}
<section id="blog" class="section">
	<div class="container">
    <div class="twitter">
            <a class="twitter-timeline" href="https://twitter.com/SmellHealth?ref_src=twsrc%5Etfw">Tweets by SmellHealth</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
        </div>
    </div class="container wrapper">
			{{"<!-- /section title -->" | safeHTML}}
</section>
{{"<!-- /blog -->" | safeHTML}}
{{ end }}